{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TukEventVault - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Tuk</span>EventVault</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'event_list' %}">Events</a></li>
                    <li><a href="{% url 'blog_list' %}">Blog</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                         <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'profile' %}">
                            <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'default_profile_icon.png' %}{% endif %}" alt="Profile" class="profile-icon">
                        </a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 TukEventVault. All rights reserved.</p>
    </footer>
</body>
</html>